<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Service platform</title>
</head>
<nav><a href="{% url 'about' %}">About</a></nav>
<nav><a href="{% url 'service-list' %}">Home</a></nav>
<nav><a href="{% url 'service-create' %}">Service Create</a></nav>
<nav><a href="{% url 'category-create' %}">Category Create</a></nav>
<nav><a href="{% url 'category-list' %}">Category List</a></nav>
<nav><a href="{% url 'service-list' %}">Service List</a></nav>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>