{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete student</title>
</head>
<body>
    <form action="{% url 'student-delete' student.pk %}" method="post">
        {% csrf_token %}
        {{ student.ism }}-studentini o'chirmoqchimisiz >?
        <button type="submit">Ha o'chirilsin</button>
    </form>
    <a href="{% url 'student-list' %}">Ortga</a>
</body>
</html>
{% endblock content %}